.about-us-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .about-us-container h1 {
    color: #333;
  }
  
  .about-us-container p {
    color: #666;
    line-height: 1.6;
  }

  .Mission-Container{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform:translateY(100px);
  }

  .TeamMembers{
    width: 1300px;
    height: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e8eef9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: translateY(50px);
    z-index: 1;
  }
  .TeamMembers h1{
    color: #333;
  }
 

  .umer-container {
    max-width: 200px; /* Limiting the container size */
    max-height: 200px;
    margin:0 auto;
    display: flex; /* Using flex to center the image */
    justify-content: center;
    align-items: center;
    transform:translateY(-350px);
    z-index:2;
  }
  
  .umer-photo {
    max-width: 200px; /* Make the image responsive within the container */
    max-height: 200px;
    border-radius: 50%; /* If you want the image to be circular */
    z-index: 3;
    transform:translateY(-150px);
    transform:translateX(-250px);
  }

  .Rogelio-container {
    max-width: 200px; /* Limiting the container size */
    max-height: 200px;
    margin:0 auto;
    display: flex; /* Using flex to center the image */
    justify-content: center;
    align-items: center;
    transform:translateY(-545px);
    z-index:2;
  }
  
  .Rogelio-photo {
    max-width: 200px; /* Make the image responsive within the container */
    max-height: 200px;
    border-radius: 50%; /* If you want the image to be circular */
    z-index: 3;
    
    transform:translateX(-125px);
    margin:0 auto;
  }

  .Amina-container {
    max-width: 200px; /* Limiting the container size */
    max-height: 200px;
    margin:0 auto;
    display: flex; /* Using flex to center the image */
    justify-content: center;
    align-items: center;
    transform:translateY(-545px);
    z-index:2;
  }
  
  .Amina-photo {
    max-width: 200px; /* Make the image responsive within the container */
    max-height: 200px;
    border-radius: 50%; /* If you want the image to be circular */
    z-index: 3;
    
    transform:translateX(-125px);
    margin:0 auto;
  }

  .Ramiro-container {
    max-width: 200px; /* Limiting the container size */
    max-height: 200px;
    margin:0 auto;
    display: flex; /* Using flex to center the image */
    justify-content: center;
    align-items: center;
    transform:translateY(-545px);
    z-index:2;
  }
  
  .Ramiro-photo {
    max-width: 200px; /* Make the image responsive within the container */
    max-height: 200px;
    border-radius: 50%; /* If you want the image to be circular */
    z-index: 3;
    
    transform:translateX(-125px);
    margin:0 auto;
  }
  
  
  


 
  