.item-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.headerr {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}

.item-name {
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: calc(100% - 40px); /* Adjust the 40px to account for padding and margins */
}
@media (max-width: 768px) {
  .item-name {
    max-width: calc(100% - 20px); /* Smaller screens may require different adjustments */
  }
  /* Other responsive design adjustments as necessary */
}

.confirm-icon {
  width: 25px;
  height: 22px;
  background-color: green;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.content {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.photo-section {
  width: 50%;
  padding-right: 10px;
}

.item-photo {
  width: 100%;
  height: auto;
  background-color: #f0f0f0;
  text-align: center;
}

.details-section {
  width: 50%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-category,
.item-subcategory,
.item-color,
.wear-counter,
.weather-range {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.wear-counter {
  display: flex;
  align-items: center;
}

.wear-counter button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
}

.item-notes {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 100px;
}

.back-button {
  margin-right: 20px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 16px;
}

/* Responsive design */
@media (max-width: 600px) {
  .content {
    flex-direction: column;
  }

  .photo-section,
  .details-section {
    width: 100%;
  }
}
