.item-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}

.item-name {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.confirm-icon {
  width: 20px;
  height: 20px;
  background-color: green;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.content {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.photo-section {
  width: 50%;
  padding-right: 10px;
}

.item-photo {
  width: 100%;
  height: auto;
  padding-top: 0px 0px 0px; /* Aspect ratio 1:1 */
  margin-top: 0;
  background-color: #f0f0f0;
  text-align: center;
  position: relative;
}

.details-section {
  width: 50%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-category,
.item-subcategory,
.item-color,
.wear-counter,
.weather-range {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px; /* Adjust based on content height to match photo height */
}

.wear-counter {
  display: flex;
  align-items: center;
}

.wear-counter button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
}

.item-notes {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 100px; /* Adjust as needed */
}

.back-button {
  margin-right: 20px; /* Adds some space between the back button and the next element */
  cursor: pointer; /* Changes the cursor to a pointer on hover */
  background: none; /* Removes any default background */
  border: none; /* Removes any default border */
  font-size: 16px; /* Adjusts the font size */
  /* Add any additional styling as needed */
}


.range-slider {
  position: relative;
  width: 100%;
}

.thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 3;
}

.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}

.thumb::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #d3d3d3;
  top: 50%;
  transform: translateY(-50%);
}

.slider__track {
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background: #007bff;
}

.slider__range {
  position: absolute;
  height: 2px;
  background: #007bff;
}