/* Outfitter.module.css */

@keyframes pastelGradientAnimation {
  0% {
    background-color: #ff9eb8; /* Start color */
  }
  25% {
    background-color: #ffdde1; /* First pastel color */
  }
  50% {
    background-color: #afe9e1; /* Second pastel color */
  }
  75% {
    background-color: #ffcaaf; /* Third pastel color */
  }
  100% {
    background-color: #ff9eb8; /* Return to start color */
  }
}

.outfitterContainer {
  display: flex;
  justify-content: space-between; /* Distribute items evenly */
  align-items: center; /* Vertically center items */
  height: 80vh;
}

.outfitterContent {
  flex-grow: 1; /* Allow the content to grow */
  display: flex;
  justify-content: center; /* Horizontally center items */
}

.square {
  width: 650px; /* Adjust the width of the square */
  height: 400px; /* Keep the height of the square */
  border-radius: 10px; /* Adjust the border-radius for rounded corners */
  animation: pastelGradientAnimation 2s infinite; /* Make animation faster */
}

.sidebar {
  width: 200px;
  height: 100%; /* Ensure the sidebar takes up full height */
  background-color: #f7f7f7;
  padding: 20px;
  border-right: 1px solid #d1d1d1;
  display: flex;
  flex-direction: column;
}

.sidebarTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.sidebarList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebarList li {
  padding: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebarList li:hover {
  background-color: #e0e0e0;
}

.sidebarList li.active {
  background-color: #d1d1d1;
}

.outfitterButton {
  margin: 10px;
  padding: 10px 20px;
  background-color: #282936;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.outfitterButton:hover {
  background-color: #40414c;
}
