/* HEADER STYLES */
.headerx {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
  padding: 10px 30px;
  background-color: #ececec;
  border-bottom: 1px solid #d1d1d1;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

/* CONTROL BUTTONS STYLES */
.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button {
  padding: 5px 10px;
  margin: 0 10px;
  cursor: pointer;
}

/* RIGHT SIDE STYLES */
.right-side {
  display: flex;
  align-items: center;
}

.weather {
  padding-left: 20px;
}


/* CATEGORIES STYLES */
.categories {
  flex: 1;
  background-color: #f7f7f7;
  padding: 20px;
  overflow-y: auto;
}

/* ITEMS STYLES */
.items {
  flex: 5;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow-y: auto;
  justify-content: left;
}

.item {
  width: 150px;
  height: 150px;
  background-color: #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: rgb(255, 250, 250);
  box-shadow: rgba(7, 19, 88, 0.25) 0px 30px 50px -12px inset, rgba(7, 19, 88, 0.25) 0px 18px 26px -18px inset;
}

.item img {
    width: 100%; /* Makes the image fill the container */
    height: auto; /* Keeps the image's aspect ratio */
    max-height: 150px; /* Limits the image height. Adjust as needed */
    cursor: pointer;
}

.add-new-item {
    display: flex; /* Aligns the plus button centrally */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    font-size: 24px; /* Sets the size of the plus button. Adjust as needed */
    cursor: pointer; /* Changes the cursor to indicate it's clickable */
}

.plus-button {
    width: 50px; /* Width of the plus button */
    height: 50px; /* Height of the plus button */
    border-radius: 50%; /* Makes the plus button circular */
    background-color: #ddd; /* Background color of the plus button. Adjust as needed */
    display: flex; /* Aligns the plus sign centrally */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    color: #333; /* Color of the plus sign. Adjust as needed */
}


/* DROPDOWN BUTTON STYLES */
.wardrobe-container {
  margin-top: 0;
  display: flex;
  height: 100vh;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 5px;
  overflow: hidden;
}

.dropdown-button {
  background-color: #f0f0f0;
  border: none;
  padding: 10px 15px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  position: relative;
  font-family: helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  
}

.dropdown-button:hover {
  background-color: #e0e0e0;
}

.arrow {
  position: absolute;
  right: 15px;
  transition: transform 0.3s ease;
}

.arrow.active {
  transform: rotate(180deg);
}

.category-title {
  font-size: 20px; /* Larger font size for category titles */
  font-weight: bold; /* Bold font weight for emphasis */
  margin: 10px 0; /* Space above and below the category title */
  padding-left: 10px; /* Indent category titles slightly */
  text-align: left;
}

/* SUBCATEGORY BUTTON STYLES */
.subcategory .dropdown-button {
  font-size: 16px; /* Slightly smaller font size for subcategories */
  background-color: #e9e9e9; /* Lighter background for subcategory buttons */
  margin-top: 5px; /* Space above each subcategory button */
  padding: 8px 10px; /* Adjust padding for subcategory buttons */
}

.subcategory-list {
  padding-left: 20px; /* Indent subcategory items */
  margin-top: 5px; /* Space above the subcategory list */
  background-color: #f9f9f9; /* Light background for subcategory list */
  border-left: 2px solid #d1d1d1; /* Left border to distinguish subcategories */
}

.subcategory {
  padding: 8px 15px;
  border-bottom: 1px solid #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subcategory:hover {
  background-color: #f7f7f7;
}

.subcategory:last-child {
  border-bottom: none;
}

.subcategory-item {
  padding: 5px 0; /* Padding for subcategory items */
  text-align: left;
  list-style-type: none;
}

.subcategory .dropdown-button:hover,
.subcategory-item:hover {
  background-color: #dcdcdc; /* Slightly darker background on hover */
}


/* HEART BUTTON STYLES */
.heart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 11px 10px 11px;
    box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #282936;
    border-color: #ffffff;
    border-style: solid;
    border-width: 2px;
    border-radius: 35px;
    transition: transform 400ms cubic-bezier(.68,-0.55,.27,2.5), 
    border-color 400ms ease-in-out,
    background-color 400ms ease-in-out;
    word-spacing: -2px;
  }
  
  @keyframes movingBorders {
    0% {
      border-color: #fce4e4;
    }
  
    50% {
      border-color: #ffd8d8;
    }
  
    90% {
      border-color: #fce4e4;
    }
  }
  
  .heart-button:hover {
    background-color: #282936;
    transform: scale(105%);
    animation: movingBorders 3s infinite;
  }
  
  .filled,
  .empty {
    fill: rgb(255, 110, 110);
    transition: opacity 100ms ease-in-out;
  }
  
  .filled {
    position: absolute;
    opacity: 0;
  }
  
  @keyframes beatingHeart {
    0% {
      transform: scale(1);
    }
  
    15% {
      transform: scale(1.15);
    }
  
    30% {
      transform: scale(1);
    }
  
    45% {
      transform: scale(1.15);
    }
  
    60% {
      transform: scale(1);
    }
  }
  
  .heart-button:hover .empty {
    opacity: 0;
  }
  
  .heart-button:hover .filled {
    opacity: 1;
    animation: beatingHeart 1.2s infinite;
  }


/* UPLOAD & CAPTURE BUTTON */
.uc-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 2px 20px;
  font-size: inherit;
  font-family: inherit;
 }
 
 .uc-button.learn-more {
  width: 12rem;
  height: auto;
 }
 
 .uc-button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 2.5rem;
  height: 2.5rem;
  background: #282936;
  border-radius: 1.625rem;
 }
 
 .uc-button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #282936;
 }
 
 .uc-button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.425rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
 }
 
 .uc-button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
 }
 
 .uc-button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
 }
 
 .uc-button:hover .circle {
  width: 100%;
 }
 
 .uc-button:hover .circle .icon.arrow {
  background: #ffffff;
  transform: translate(-2.2rem, 0);
 }
 
 .uc-button.learn-more:hover .button-text {
  color: #ffffff;
 }

 .uc-button .icon.camera {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: auto;
  height: 60%;
}

.uc-button.learn-more:hover .circle .icon.camera {
  transform: translateX(-3.55rem);
}

/* SEARCH BAR */
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 230px;
}

.input {
  width: 100%;
  height: 30px;
  line-height: 28px;
  padding: 0 0rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(0, 48, 73, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(0 48 73 / 5%);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}

.item-image {
  max-width: 200px;
  max-height: 200px;
  object-fit: contain;
  margin: 5px;
}