.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.picmyfit-logo img {
  height: 50px; 
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  padding: 0 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.profile {
  height: 4vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .profile {
    animation: App-logo-spin infinite 20s linear;
  }
}