/* General and layout styles */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #E5E9F0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.nav > div {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav-center {
  justify-content: center;
}

.nav-right {
  justify-content: flex-end;
  position: relative; /* Ensure dropdown is positioned relative to this */
}

/* Logo and navigation link styles */
.logo {
  height: 40px;
  width: auto;
}

.PicMyFit, .nav a {
  display: flex;
  align-items: center;
  color: #2E3440;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s ease;
}

.nav a:hover, .nav .active a {
  color: #3669c7; /* Highlight color for interactivity */
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 75px;
  margin: 0;
  padding: 0;
}

/* Profile placeholder and dropdown styles */
.profilePlaceholder {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 75px;
  cursor: pointer;
  border: 4px solid #434C5E;
}

.dropdown {
  display: none; /* Hide by default */
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  width: 150px;
  z-index: 1000;
  overflow: hidden;
}

.nav-right:hover .dropdown {
  display: block; /* Show on hover */
}

.dropdown a {
  display: block;
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #f1f1f1;
}

.dropdown a:last-child {
  border-bottom: none;
}

.dropdown a:hover {
  background-color: #f8f9fa;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav ul {
    flex-direction: column;
  }
}

.navbar-subtitle {
  background-color: #3B4252; /* Light grey background */
  color: #ECEFF4; /* Dark text color */
  text-align: center; /* Center the text */
  padding: 5px 0; /* 5px padding on the top and bottom */
  font-size: 14px; /* Smaller font size */
  font-weight: bold;
}

.left-textbox {

  border: #2E3440;
}